html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.listtop {
    border: solid #eaf3fa;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fizznum {
    list-style: none;
    font-size: large;
    min-width: 50px;
    padding-right: 10px;
}

.fizznum:hover {
    text-decoration:underline;
}